*.swp
vim/vim.symlink/spell/
vim/vim.symlink/.netrwhist
xmonad/xmonad.symlink/xmonad.o
xmonad/xmonad.symlink/xmonad.hi
xmonad/xmonad.symlink/xmonad.errors
xmonad/xmonad.symlink/xmonad-x86_64-linux
xmonad/xmonad.symlink/history
xmonad/xmonad.symlink/xmonad.state
